.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card {
  padding: 20px;
  max-width: 250px;
  margin: 0 auto;
}
.card h2{
  font-size: 20px;
}
.card .btn{
  border: none;
  text-transform: capitalize;
  background-color: blue;
  opacity: 0.8;
  color: #fff;
  padding: 5px 3px;
  border-radius: 10px;
  transition: 0.3s linear opacity;
}
.card .btn:hover{
  opacity: 1;
}
.card .desc{
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}